{{template "header.html"}}
    <div class="content">
        <form action="/login" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <label for="username">Username</label>
            <input id="username" type="text" name="Username" value="{{ .Username }}">
            <p style="color: red;">{{ .FormError.Username }}</p>

            <label for="password">Password</label>
            <input id="password" type="password" name="Password" value="{{ .Password }}">
            <p style="color: red;">{{ .FormError.Password }}</p>

            <button id="login" type="submit">Login</button>
        </form>
    </div>
{{ template "footer.html"}}